app/src/main/java/com/stimednp/crudfirebasefirestore/base
app/src/main/java/com/stimednp/crudfirebasefirestore/bind/AllUserAdapter.kt
app/src/main/java/com/stimednp/crudfirebasefirestore/presenter
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
